/* Resets */

* {
    box-sizing: border-box;
}

h1, h2, h3, p, nav ul {
    margin: 0;
    padding: 5px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
   
nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Typography */

h1 {
    font-family: "Raleway", serif;
    font-weight: 800;
    font-style: normal;

    font-size: 48px;
}

header h1, header h2 {
    text-align: center;
}

h2 {
    font-family: "Space Grotesk", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 24px;
}

h3 {
    font-family: "Space Grotesk", serif;
    font-weight: 700;
    font-style: normal;

    font-size: 24px;
    line-height: 1.5em;
}

#hey-there {
    font-size: 32px;
}

p, ul, figcaption {
    font-family: "Istok Web", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 18px;
    line-height: 1.5em;
}

ul {
    font-size: 16px;
}

figcaption {
    font-size: 14px;
    text-align: center;
}

.label-name {
    font-size: 14px;
}

.long-name {
    font-size: 10px;
}

.label-descript {
    font-size: 12px;
    font-style: italic;
    text-align: left;
}

.carousel-button {
    font-size: 24px;
    line-height: 1;
}

.carousel-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/* Color */

body {
    background-color: #F1E1C7;
}

header {
    background-color: lightgray;
}

footer {
    background-color: lightgray;
}

.red {
    color: #A70F23;
}

.blue {
    color: #393391;
}

.green {
    color: #004F2D;
}

.card-item {
    background-color: lightgray;
}

.lists ul li ul li {
    color: black;
}

.carousel-button {
    color: whitesmoke;
    background-color: rgba(0,0,0,0.25);

    border: 1px solid transparent;
    border-radius: 50%;
}

.carousel-dots {
    background-color: rgba(0,0,0,0.25);
    border-radius: 10%;
}

.carousel-dot {
    background-color: lightgray;
}

.carousel-dot.active {
    background-color: #A70F23;
}


/* Layout */

/* Layout — Header */
header {
    position: relative;
    padding-bottom: 5svh;
}

header h1 {
    padding-top: 12svh;
    padding-bottom: 2svh;
}

header .shift-up {
    position: relative;
    top: -20px;
}

header .shift-down {
    position: relative;
    top: 20px;
}

#divider {
    position: absolute;
    top: 47.5%;
    left: 50%; 
    transform: translate(-50%, -50%) rotate(20deg); 

    width: 2px;
    height: 80px;
    background-color: black; 
    transform-origin: center;
}

header h2 {
    margin-top: 2svh;
}  

header nav ul {
    position: absolute;
    top: 2.5svh;
    right: 2.5svw;

    display: flex;
    flex-direction: row;
    gap: 2svw;
}

/* Layout — Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: top;

    padding: 20px 40px;
}

footer .bold {
    padding-bottom: 10px;
}

footer ul {
    padding: 5px;
    margin: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

/* Layout — Main */

main {
    padding: 5svh 2.5svw 7.5svh;
    width: 50%;

    display: grid;
    place-self: center;
}

main > * {
    margin-bottom: 20px;
}

.two-column {
    display: flex;
    gap: 40px;
}

.text, .image-slideshow, .captioned-image {
    flex: 1;
}

.captioned-image {
    margin: 0;
}

figcaption {
    margin-top: 10px;
}

/* Layout Carousel */

.slide {
    visibility: hidden;
    display: none;
    /*opacity: 0;
    transition: opacity 1s ease-out;*/
}

.slide[data-active] {
    visibility: visible;
    display: block;
    /*opacity: 1;
    transition: opacity 1s ease-in;*/
}

.image-slideshow {
    margin: 0;
    padding: 0;
    list-style-type: 0;

    position: relative;
}

.carousel-button {
    position: absolute;
    z-index: 1;

    top: 50%;
    transform: translateY(-50%);
    padding: 2px;

    display: flex;
    justify-content: center;

    box-sizing: border-box;
    cursor: pointer;
}

.prev {
    left: 2.5%;
}

.next {
    right: 2.5%;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    position: absolute;
    bottom: 7.5%;
    left: 50%;
    transform: translateX(-50%);

    padding: 5px;
}

/* Interactions */

.carousel-button:hover, .carousel-button:focus {
    border: 1px solid whitesmoke;
}